@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  color: black;
}

@font-face {
  font-family: "Departure Mono";
  src: url("/fonts/DepartureMono-Regular.upYs3Yn6.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-roman-line-figures.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Departure Mono", monospace;
}

.font-serif {
  font-family: "et-book", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

